<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Hosa App</a>
    by <a href = "https://www.linkedin.com/in/krishbhat">Krishna Bhat</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://feedly.com/#latest">News</a></li>
    </ul>
  </nav>
</footer>
